{% extends 'template.html.twig' %}
{% block title %}JardinDenfantProfilJDBundle:ProfilJD:supprimerPJD{% endblock %}

{% block body %}
<h1>Welcome to the ProfilJD:supprimerPJD page</h1>
{% endblock %}
