{% extends 'template.html.twig' %}
{% block body %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">MESSAGE ENVOYEE</h3>
    </div>
    <div class="panel-body">
       VEUILLEZ CONSULTER VOTRE BOITE MAIL
    </div>
</div>
{% endblock  %}
