{% extends 'template.html.twig' %}
{% block body %}
<div  class="form table-curved" >
        <legend class="chart-title">Ajouter une donne</legend><br>

        <form action="" method="post" class="form">
            <p class="contact">
                <label >Description</label>
            </p><br>
            <textarea rows="4" cols="50" name="besoin" ></textarea><br>
            <br> <input type="Submit" name="ajouter" value="Ajouter"/>
        </form>
</div>
{% endblock %}